
#gallery {
    /* Prevent vertical gaps */
    line-height: 1;
    
    -webkit-column-count: 3;
    -webkit-column-gap:   3px;
    -moz-column-count:    3;
    -moz-column-gap:      3px;
    column-count:         3;
    column-gap:           3px;  
}

img {
    width: 100% !important;
    height: auto !important;
}