
#content {
    width: 90%;
    padding: 5% 0 0 0;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    line-height: 1.5;
}

.showcase {
    padding-top: 0;
    height: 10%;
    text-align: center;
}

.showcase video {
    border-radius: 32px;
    width: 100%;
    object-fit: contain;
}

.showcase h1 {
    margin: 0 auto 0 auto;
    font-family: Match8p;
    font-weight: normal;
    font-size: 96px;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

.showcase p {
    margin: 0 auto 0 auto;
    font-family: Match7p;
    font-weight: normal;
    font-size: 48px;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

.spacer {
    margin: 32vh;
}

#intro {
    height: 10%;
    text-align: center;
}

#avatar {
    border-radius: 100%;
}

@media screen and (max-width: 80rem) {
    
    #avatar {
        width: 50%;
    }
    
    #intro {
        margin-top: 9vh;
    }

    .showcase h1 {
        font-size: 48px;
    }
    
    .showcase p {
        font-size: 24px;
    }
    
}