
:root {
    --background-color: #04061c;
    --accent-color: #0e1838;
    --primary: #a5ffba;
    --primary-2: #5db39a;
    --button: #edff89;

}

html, body {
    margin: 0;
}

@font-face {
	font-family: FiraCode;
	src: url("../fonts/FiraCode-Regular.ttf");
}

@font-face {
	font-family: Match7h;
	src: url("../fonts/Match/Match\ Basic\ 7h.ttf");
}

@font-face {
	font-family: Match7p;
	src: url("../fonts/Match/Match\ Basic\ 7p.ttf");
}

@font-face {
	font-family: Match8h;
	src: url("../fonts/Match/Match\ Basic\ 8h.ttf");
}

@font-face {
	font-family: Match8p;
	src: url("../fonts/Match/Match\ Basic\ 8p.ttf");
}

body {
    background-color: var(--background-color);
    color: white;
    display: none;
    font-family: FiraCode;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}


h1 {
    font-size: calc(1rem + 3vw);
}

p {
    font-size: calc(1rem + 0.25vw);
    line-height: 1.5;
}

#content-header ul {
    margin-top: auto;
}
  
li {
    display: inline;
    padding: 10px;
    font-size: calc(1.25rem + 0.25vw);
}

li a {
    text-decoration: none;
}

a:visited {
    color: var(--button);
}

a:link {
    color: var(---button);
}

a:hover {
    color: white;
}

.media {
    text-align: center;
    margin: 24px 24px 0px 24px;
    overflow: hidden;
}

.caption {
    font-size: 16px;
    color: #266368;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2%;
}

#content {
    padding: 10%;
    font-family: FiraCode, Arial, Helvetica, sans-serif;
}

#content-header {
    display: flex;
    padding: 1% 5% 1% 5%;
    justify-content: space-between;
    flex-direction: row;
	background: var(--accent-color);
}

#content-footer {
    display: flex;
    padding: 2% 5% 2% 5%;
    flex-flow: row wrap;
	background: var(--accent-color);
}


#content-footer * {
    margin: auto;
    align-self: center;
    font-size: calc(0.75rem + 0.2vw);
}

#icons {
    margin: 4vh auto auto auto;
    flex: 1 100%;
    display: flex;
    justify-content: center;
    font-size: calc(0.75rem + 0.2vw);
    text-decoration-color: #a5ffba;
    text-decoration: underline;
    padding: 0;
}

#icons * {
    margin: 0;
    width: 48px;
}

#icons img {
    filter: invert(87%) sepia(38%) saturate(403%) hue-rotate(68deg) brightness(103%) contrast(102%);
}

#icons img:hover {
    filter: brightness(0) invert(1);
}

#logo {
    height: 120px;
    width: 120px;
    
}

#logo img {
    max-width:100%;
    border-radius: 100%;
}

@media screen and (max-width: 80rem) {
    
    #content-header {
        justify-content: center;
        
    }

    p {
        line-height: 1.35;
    }

    #content-header ul {
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding-left: 0px;
    }
    
    #content-footer * {
        padding: 2vw;
    }

    #logo {
        display: none;
    }
}