
:root {
    --background-color: #04061c;
    --accent-color: #0e1838;
    --primary: #a5ffba;
    --primary-2: #5db39a;

}

html, body {
    margin: 0;
}

@font-face {
	font-family: FiraCode;
	src: url("../fonts/FiraCode-Regular.ttf");
}

body {
    background-color: var(--background-color);
    color: white;
    display: none;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}


h1 {
    font-size: calc(1rem + 3vw);
}

p {
    font-size: calc(1rem + 0.25vw);
}

ul {
    margin-top: auto;
}
  
li {
    font-family: FiraCode;
    display: inline;
    padding: 10px;
    font-size: calc(1.5rem + 0.25vw);
}


a:visited {
    color: var(--primary);
}

a:link {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: white;
}


#content-header {
    display: flex;
    padding: 1% 5% 1% 5%;
    justify-content: space-between;
    flex-direction: row;
	background: var(--accent-color);
}

#intro {
    height: 10%;
}

#content {
    padding: 10%;
    font-family: FiraCode, Arial, Helvetica, sans-serif;
}

#logo {
    height: 120px;
    width: 120px;
    
}

#logo img {
    max-width:100%;
    border-radius: 100%;
}

@media screen and (max-width: 80rem) {
    
    #content-header {
        justify-content: center;
        
    }

    ul {
        margin-top: 16px;
        padding-left: 0px;
    }

    #logo {
        display: none;
    }
}